@font-face {
    font-family: "catamaran";
    src: url(css/fonts/catamaran/static/Catamaran-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "lato";
    src: url(css/fonts/lato/Lato-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "mulish";
    src: url(css/fonts/mulis/Mulish-Italic-VariableFont_wght.ttf);
    font-weight: 500;
}

footer {
    font-family: "mulish", Helvetica, Arial, sans-serif;
    background-color: ;
}


h1 {
    font-family: "catamaran", Helvetica, Arial, sans-serif; 
}
section {
    font-family: "mulish", Helvetica, Arial, sans-serif; 
}
button {
    font-family: "lato", Helvetica, Arial, sans-serif; 
}
nav {
    font-family: "lato", Helvetica, Arial, sans-serif; 
}
.yellow {
    background-color: rgb(119, 119, 23);
}
.containerImage {
    position: relative;
  text-align: center;
  color: black;
}
.centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
  }