@font-face {
    font-family: "catamaran";
    src: url(/css/fonts/catamaran/static/Catamaran-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "lato";
    src: url(/css/fonts/lato/Lato-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "mulish";
    src: url(/css/fonts/mulish/Mulish-Italic-VariableFont_wght.ttf);
    font-weight: 500;
}

footer {
    font-family: "mulish", Helvetica, Arial, sans-serif;
    
}


h1 {
    font-family: "catamaran", Helvetica, Arial, sans-serif; 
}
section {
    font-family: "mulish", Helvetica, Arial, sans-serif; 
}
button {
    font-family: "lato", Helvetica, Arial, sans-serif; 
}
nav {
    font-family: "lato", Helvetica, Arial, sans-serif; 
}
.yellow {
    background-color: rgb(119, 119, 23);
}
.containerImage {
    position: relative;
  text-align: center;
  color: black;
  
}

.centered {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  .containerDiscover {
      background-color: rgb(254, 228, 124);
      height: 10 rem;

  }
  .border {
      border: 2px solid #ffffff;
      border-radius: 25px;
  }
  #upper-information {
   /* background-image: url("/img/bg-pattern.png");  */ 
   background-repeat: repeat; 
  color: #ffffff;
  background: linear-gradient(45deg, red, blue);
  
  }
  
  #bordera {
    border: 2px solid #ffffff;
    border-radius: 25px;
  
  }
  #bordera:hover {
      background-color: #fdcc52;
      transition: 0.3s;
  } 
  #startBootstrap:hover {
    color: #ffffff;
  }
  #startbootstrap {
      color: rgb(128, 128, 128);
  }
  #icon {
      width: 10rem;
  }
  #twitter {
    border-radius: 25px;
   
    border-radius: 25px;
    background-color:  rgb(69, 189, 230);
    color: #ffffff;
    width: 2.9rem;
    height: 2.9rem;
    text-align: center;
    font-size: 2rem;
  }
  #facebook {
      
      border-radius: 25px;
  }
  #google {
    border-radius: 25px;
    background-color: #ff0000;
    color: #ffffff;
    width: 2.9rem;
    height: 2.9rem;
    text-align: center;
    font-size: 2rem;

  }
  .containerWeLove {
      background-color: rgba(253, 205, 83, 0.9);
      opacity: 0.9;
  }
  .containerWeLove:hover {
      background-color: #fdcc52;
      
  }
  